html{
    height: 100%;
}

body{
    height: 100%;
}

nav {
    color: #07244C;
    text-align: center;
}

img.logo {
    width: 100px;
    height: auto;
}

nav a.link {
    z-index: 5;
    position: relative;
    align-content: center;
    height: 50px;
    color: #07244C;
    text-decoration: none;
}

nav a.link::before {
    z-index: -1;
    top: 0;
    left: 0;
    transition: .3s;
    content: "";
    background: linear-gradient(90deg, #2A9A9D, #2B6AA0, #2B6AA0);
    position: absolute;
    height: 50px;
    width: 0;
}

nav a.link:hover {
    color: #fff;
}

nav a.link:hover::before {
    width: 100%;
}

footer {
    z-index: 5;
}